body {
  font-family: Arial;
  background: #f5f5f5;
}

.box {
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.blue { background: #dbeeff; }
.green { background: #dbffea; }
.orange { background: #ffe4d1; }

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
